<div id="command_center">

<ul id="nav">
	<li><a href="#">Dashboard</a></li>
	<li><a href="#">Inbox</a></li>
	<li class="active"><a href="/rooms">Hosting</a></li>
</ul>
<ul class="subnav">
    <li class="active"><a href="/rooms">Manage Spaces</a></li>
    <li><a href="#">Reservations</a></li>
    <li><a href="#">Waiting Guests</a></li>
    <li><a href="#">Promote</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Policies</a></li>
    <!--<li><a href="/travel_plans?p=upcoming">Upcoming Trips</a></li>-->
</ul>
<div class="box">
  <div class="middle">
    <div id="userlistings">
       <ul class="listings">
          <%for room in @rooms%>
          <li class="listing">
            <div class="thumbnail"><a href="/rooms/<%=room.id%>"><img src="" alt="Small"></a></div>
            <div class="listing-info">
              <h3><a href="/rooms/<%=room.id%>"><%=room.title%></a></h3>
              <span class="actions">
                <span class="action_button"><a class="icon edit" href="/rooms/<%=room.id%>/edit">Edit listing</a></span>
                <span class="action_button"><a class="icon view" href="/rooms/<%=room.id%>">View listing</a></span>
      <td></td>
              </span> 
            </div> <div class="clear"></div>
          </li>
          <%end%>
       </ul>
    </div>
  </div>
</div>
</div>
