
<table>
  <tr>
    <th>Fulladdress</th>
    <th>Property</th>
    <th>Event</th>
    <th>Maximum Capacity</th>
  </tr>
  <% for room in @rooms %>
    <tr>
      <td><%= room.fulladdress %></td>
      <td><%= room.property_id %></td>
      <td><%= room.event_id %></td>
      <td><%= room.maximum_capacity %></td>
      <td><%= link_to "Show", room %></td>
      <td><%= link_to "Edit", edit_room_path(room) %></td>
      <td><%= link_to "Destroy", room, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Room", new_room_path %></p>
